body {
  font-family: 'Shadows Into Light Two', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #F4F1BB/*rgba(242,255,73,.85) rgba(175,175,175,.3)*/;
}

#main-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 25px;

  nav {
    padding: 10px 30px 10px 30px;
    width: 85%;
    background-color: #ED6A5A/*rgba(251,98,246,.7)*/;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 35px;
    margin-bottom: 20px;
    border-radius: 25px;

    a {
      color: white;
    }

    button {
      font-family: 'Shadows Into Light Two';
      font-size: 30px;
      border-radius: 10px;
      border: white solid 2px;
      color: white;
      background-color: rgba(251,98,246,.3);
      margin-left: 5px;
    }

    button:hover {
      cursor: pointer;
      background-color: rgba(251,98,246,1)
    }

    div {
      display: inline;
    }
  }
}

.links {
  text-decoration: none;
}

#posts-container {
  width: 80%;

  #posts-header {
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    color: #5D576B;
  }

  #posts {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #post {
    width: 22%;
    background-color: white;
    display: block;
    margin: 1%;
    padding-bottom: 10px;
    color: #9BC1BC;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
      width: 100%;
    }

    div {
      padding-left: 15px;
    }

    .posts-title {
      font-size: 35px;
    }
  }

  #post:hover {
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 10px 10px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#profile {
  width: 65%;
  display: flex;
  flex-flow: row nowrap;

  img {
    width: 50%;
    height: 100%;
  }

  #profile-info {
    margin-left: 5%;
    padding: 2%;
    color: #5D576B;

    #name {
      font-size: 50px;
    }

    #email {
      font-size: 30px;
    }

    a {
      text-decoration: none;
      color: #9BC1BC;
      font-size: 25px;
    }

  }
}
